<script src="../../js/evento-tab.js"></script>
<form>
    <div class="row m-0 g-3">

        <div class="col-12 d-flex justify-content-between align-items-center">
            <h3 id="nome-evento">1 - Evento de abertura da Prefeitura</h3>
            <button class="btn btn-primary">Salvar</button>
        </div>

        <div class="col-md-6 col-sm-6">
            <label for="nome" class="form-label">Nome</label>
            <input type="text" class="form-control" id="nome">
        </div>
        <div class="col-md-6 col-sm-6">
            <label for="destino" class="form-label">Destino</label>
            <input type="text" class="form-control" id="destino">
        </div>
        <div class="col-12">
            <label for="descricao" class="form-label">Descrição</label>
            <textarea class="form-control" id="descricao" rows="3"></textarea>
        </div>
        <div class="col-md-4 col-sm-6">
            <label for="numSolicitacao" class="form-label">Nº Solicitação</label>
            <input type="text" class="form-control" id="numSolicitacao">
        </div>
        <div class="col-md-4 col-sm-6">
            <label for="data" class="form-label">Data</label>
            <input type="date" class="form-control" id="data">
        </div>
        <div class="col-md-4 col-sm-6">
            <label for="modalidade" class="form-label">Modalidade</label>
            <select class="form-control" id="modalidade">
                <option value=""></option>
            </select>
        </div>
        <div class="col-md-4 col-sm-6">
            <label for="inicio" class="form-label">Início</label>
            <input type="date" class="form-control" id="inicio">
        </div>
        <div class="col-md-4 col-sm-6">
            <label for="fim" class="form-label">Fim</label>
            <input type="date" class="form-control" id="fim">
        </div>
        <div class="col-md-2 col-sm-6">
            <label for="horaInicio" class="form-label">Hora Início</label>
            <input type="time" class="form-control" id="horaInicio">
        </div>
        <div class="col-md-2 col-sm-6">
            <label for="horaFim" class="form-label">Hora Fim</label>
            <input type="time" class="form-control" id="horaFim">
        </div>
        <div class="col-md-4 col-sm-6">
            <label for="local" class="form-label">Local</label>
            <input type="text" class="form-control" id="local">
        </div>
        <div class="col-md-4 col-sm-6">
            <label for="responsavel" class="form-label">Responsável</label>
            <input type="text" class="form-control" id="responsavel">
        </div>
        <div class="col-md-4 col-sm-6">
            <label for="telefoneResponsavel" class="form-label">Telefone do Responsável</label>
            <input type="tel" class="form-control" id="telefoneResponsavel">
        </div>

    </div>
</form>